*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-size: 16px;
}

body{
   width: 100%; 
   overflow-x: hidden;
}

/* ============================res header start================================ */

.res-block{
    display: none;
}



.res-head{
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;    
    position: sticky;
    background-color: aliceblue;
    top: 0;
    z-index: 2;
    /* display: none; */
}

.res-right-head{
    max-width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.head-meesho{
    font-size: 1.35rem;
    font-weight: 600;
    margin-bottom: 7px;
    cursor: pointer;
    color: var(--color);
}

.res-bar img{
    height: 30px;
    width: 25px;
    cursor: pointer;
    margin:7px 30px 7px 20px;
    display: block;
}

.res-heart{
    height: 10px;
    width: 25px;
    padding-bottom: 24px;
    cursor: pointer;
}
.res-cart{
    margin-left: 40px;
    height: 10px;
    width: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}


/* ================================== res search ========================================== */

.res-search{
    height: 30px;
    margin: 10px auto;
    padding: 4px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 95vw;
    /* display: none; */
}


.res-search textarea{
    width: 100vw;
    height: 100%;
    /* border-style: none; */
    resize: none;
    /* outline: none; */
    border-color: transparent;

}
.res-search textarea:focus{
    border-style: none;
    border-color: red;
    outline: none;
}



/* =============================== res location=================== */


.res-loc{
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
    background-color: rgb(244, 214, 240);
    width: 100vw;
    /* display: none; */
}


.res-loc svg{
    height: 20px;
    width: 20px;
    padding-top: 5px;
}


/* ============================ res img circular============== */

.res-img{
    display: flex;
    align-items: center;
    overflow-x:scroll;
    /* display: none; */
}

.res-img::-webkit-scrollbar{
    display: none;
}

.res-img img{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    margin:5px 7.5px;
}


.res-img div{
    margin:15px;
    text-align: center;
}

.res-one{
    margin-left: 190rem;
}

/* ==============================rest option here================== */

.res-opt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: aliceblue;
    /* display: none; */
}

.res-cash{
    display: flex;
    align-items: center;
    /* margin: 10px; */
}
.res-cash img{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
    margin: 0 10px;
}

/* =============================== product and action btn here=========== */
.res-product{
    font-size: 1.5rem;
    margin: 1rem;
    /* display: none; */
}

.res-action-btn{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: aliceblue;
    width: 100vw;
    padding-right: 35px;
    /* display: none; */
}

.sort{
    display: flex;
    cursor: pointer;
}


.sort img{
    height: 20px;
    width: 20px;
    margin:0 10px;
}
.sort div svg{
    height: 18px;
    width: 18px;
    margin:0 10px;
}

/* ============================responsive header cmplete======================= */



/* =============================responsive bottm complete============================== */


.res-bottom{
    height: 60px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(231, 234, 236);
    position: fixed;
    bottom: 0;
    z-index: 2;
    /* background-color: red; */
    /* display: none; */
}
.res-bottom div{
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
}
.res-grid{
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.res-m-logo{
    font-size: 2rem;
    color: var(--color);
    padding-bottom: 20px;
}
.res-m-logo p{
    font-size: 1rem;
    color: black;
}
.res-help{
    margin-top: 10px;
}

.res-bottom div>img{
    height: 30px;
    width: 30px;
    margin-top: 7px;
}
 .res-user {
    width: 50px;
    height: 50px;
}


.res-bag, .res-user{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.res-text{
    margin-left: -10px;
}


/* .res-bottom{
    display: none;
} */

/* =============================responsive bottm complete============================== */




/* <!-- ===================================================== root color starting  ============================================ --> */

:root {
    --color:rgb(255,20,147);
    --border-color:rgb(210, 200, 200);
}

<!-- /*===================================================== header starting  ============================================*/ -->
  
.sticky{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    /* display: none; */
}

.containor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6vh 8vw;
    border: 1px solid var(--border-color);
    height: 90px;
    position: sticky;
}



.logo{
    color: var(--color);
    font-size: 3.5rem;
    cursor: pointer;
}
.containor input{
    width: 35vw;
    height: 3.5rem;
    border-radius: 10px;
    border: transparent;
    border: 1px solid var(--border-color);
}

.containor input{
    padding-left:30px;
}

.input:focus{
    border:1px solid var(--border-color);
}


.input{
    position: relative;
}
/* .search1{
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 10px;
} */
.search{
    /* display: block; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 23px;
    left: 12px;
    fill: var(--border-color);
}

/* header end here */


.mobile{
    display: block;
    margin-top: .4rem;
    margin-left: 2rem;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    
 }
.mob{
    display: inline-block;
}


.pointer{
    cursor: pointer;
}
.pointer>.mob{
    max-width: 1%;
}

.hor-li{
    padding-right: 3vw;
    border-right: 1px solid var(--border-color);
    
}

.Profile {
    height:20px ;
    width: 20px;
    margin-left: 10px;
    margin-bottom: 6px;
    text-align: center;
}

.Cart{
    height: 20px;
    width: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}


.menu-bar{
    border: 1px solid rgb(227, 218, 218);
    padding:0 2.3rem;
}
.menu-bar ul{
    display: flex;
    list-style: none;
    margin: 1vw;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1.1rem;
}

/*======================================================= main section starting her========================================= */
main{
    text-align: center;
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3vh;
    margin-top: 2rem;
}
.img-text{
    font-size: 3rem;
    padding-right: 3.5rem;
    max-width: 400px;
    margin-top: 2rem;
    
}
.banner{
    width: 50;
    padding: 1rem 1rem 1rem 4vw;
    background-color: rgb(249, 249, 249);

}

.flex-pay{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: .8rem 1rem;
    background-color: rgb(255, 253, 253);
    border-radius: 9%;
}
.flex-pay-text{
    padding: 0rem .6rem;
    border-right: 1px solid black;

}


.dwn-btn{
    padding: 1rem;
    margin: 1rem 0;
    width:75%;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--color);
    font-size: 1.5rem;
    color: aliceblue;
}
.banner-img{
    height: 435px;
    /* max-width: 40vw; */
}
.img{
    display: none;
}
.top-cat{
    margin: auto;
    font-size: 3rem;
    max-width: 600px;
    text-align: center;
    /* border: 1px solid red; */
}
.for-sec{
    margin: 1rem 2%;
   
}
.banner-2{
    /* background-image: url('/image/ba.webp'); */
    position: relative;
    width: 68vw;
    height: 65vh;
    margin: auto;
    margin-top: 4vh;
    background-color: rgb(220, 235, 235);

}
.fas{
    position:absolute;
    top: 5vh;
    right: 10vw;
    font-size: 4rem;
}
 .women-img img{
    position: absolute;
    width: 35%;
    left: 1%;
    bottom: 10%;
    
}
 .men-img img{
    position: absolute;
    width: 30%;
    right: 33%;
    bottom: 10%;
    
}
.kid-img img{
    position: absolute;
    width: 30%;
    right: 1%;
    bottom: 10%;

}
.banner-3{
    /* background-image: url('/image/ba.webp'); */
    position: relative;
    width: 68vw;
    height: 65vh;
    margin: auto;
    margin-top: 4vh;
    background-color: rgb(220, 235, 235);
    overflow: hidden;

}
.beauty0{
    left: 1vw;
    top:50%;
    position: absolute;
}
.beauty1{
    width: 15vw;
    right: 36vw;
    top:20%;
    position: absolute;
}
.beauty2{
    width: 15vw;
    right: 35vw;
    bottom:2%;
    position: absolute;
}
.beauty3{
    width: 15vw;
    right: 19vw;
    top:20%;
    position: absolute;
}
.beauty4{
    width: 15vw;
    right: 18vw;
    bottom: 2%;
    position: absolute;
}
.beauty5{
    width: 15vw;
    right: 3%;
    top:20%;
    position: absolute;
    min-width: 4vw;
    padding-right: 10%;
}
.beauty6{
    width: 15vw;
    right: 2%;
    /* top:20%; */
    position: absolute;
    bottom: 2%;
    padding-right: 10%;
}
.banner-4{
    /* background-image: url('/image/ba.webp'); */
    /* position: relative; */
    width: 68vw;
    height: 65vh;
    margin: auto;
    margin-top: 4vh;
    /* border: 1px solid red; */
    /* background-color: rgb(220, 235, 235); */

}
.banner-4{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
}
/* .logo1{
    width: 90px;
    height: 150px;
} */
.blue-text{
    position: absolute;
    font-size: 3.5vw;
    color: blue;
    right: 12%;
    top: 15px;
}
.red-text{
    position: absolute;
    font-size: 4vw;
    color: red;
    right: 12%;
    top: 70px;
    width: 74%;
    text-align: end;

}
.go-logo{
    position: absolute;
    bottom: 1%;
    right: 40%;
    padding: 20px;
    max-width: 100%;
    min-width: 50%;
    object-fit:cover;
}

.ap-logo{
    min-width: 50%;
    position: absolute;
    /* bottom: 6%; */
    bottom: 1%;
    right: 0;
    padding: 20px;
    max-width: 100%;
    object-fit:cover;
}
.both-logo{
    /* position: absolute; */
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    /* width: 70%; */
    margin: auto;
    /* z-index: 1; */
}
.banner-5 img{
    width: 68.2vw;
    height: 100%;
    margin: 5rem 6rem;
    border: 1px solid red;
    transform: translate(14.5%, 30px);
}

/* this is .main-product-start */
.main-product-start{
    padding:0 5%;
}
.pro{
    font-size: 2rem;
    margin:2% 3%;
    text-align: left;
}


/* today i am working here ================================ */

.flex-pro{
    display: flex;
    justify-content: space-between;
}
.right-flex{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    
}
.box-pro{
    width: 15vw;
    border: 1px solid var(--border-color);
    max-height: 350px;
    overflow: hidden;
}
.box-pro img{
    width: 100%;
    max-height: 120px;
}

.left-flex{
    /* background-color: red; */
    border: 1px solid var(--border-color);
    border-radius: 20px;

}

.rel{
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    font-size: 1.8rem;
    margin: .5rem ;
    margin-bottom: 30px;

}

.more{
    text-align: end;
    font-size: .7rem;
    margin: 0 2%;
}

.pro-detail{
    color: var(--border-color);
    margin: 0 2%;
    margin-left: 10px;
}
.rate{
    font-size: 1.5rem;
    margin: 0 2%;
    margin-left: 10px;
}
.rate span{
    font-size: .8rem;
    color: var(--border-color);
    margin-left: 10px;
}
.free-del button{
    margin: 5%;
    background-color: rgb(235, 228, 228);
    border-color: rgb(235, 228, 228);
    border-radius: 10px;
    margin-left: 10px;
    padding:0 10px;
    max-height: 40px;
}
.rev button{
    background-color: rgb(105, 206, 105);
    width: 40px;
    color: white;
    border:none;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.rev{
    justify-content: space-around;
}
.rev span{
    font-size: .8rem;
    color: var(--border-color);
    margin-top: 5px;
    
}
.item{
    width: 100px;
    height: 200px;
}




/* specu=ial for today************************************** */
.cat-in-pro{
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0;
    font-size: 1.2rem;
    margin: 1.5rem;
}

.cat1{
    font-size: 2rem;
    margin-bottom: 1rem;
    /* font-size: 1.5rem; */
    
}

.input{
    max-width: 60%;
    /* border: 1px solid var(--border-color); */
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 6px;
}
input{
    border: transparent;

}

input:focus{
    border: transparent;
}

.cheak{
    padding: 1rem;
    margin-left: 10px;
}
checkbox{
    font-size: 1.4rem;

}

label{
    margin-left: 10px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.genders{
    margin: 1rem;
    padding: 10px;
    box-shadow: 0px 1px  var(--border-color);
}

.gender{
    margin-bottom: 10px;
    position: relative;
}

.gender svg{
    width: 16px;
    position:absolute;
    right: 1rem;
    cursor: pointer;
    
}
.genders button{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 5px 8px;
    background: transparent;
    margin: .5rem;
}

#fabric{
    width: 100px;
}
.cheak{
    position: relative;
}

.cheak svg{
    width: 16px;
    position:absolute;
    right: 1rem;
    cursor: pointer;
    
}


/* #fabric{
    width: 95%;
    border: transparent;
    cursor: pointer;
    padding:0 50px;
    margin: auto;
    font-size: 1rem;
} */


/* This is the footer */

.footer{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    margin-top: 5rem;
    background-color: whitesmoke;
    padding: 2%;
    font-size: 1.2vw;
    /* flex-wrap: wrap; */
}



.footer-col{
    min-width: 18vw;
    padding: 0 10px;
    min-height: 150px;
    margin-bottom: 4rem;
}


.col1{
    width: 35%;
}


.footer-col h2{
    font-size: 2rem;
    padding-bottom: 20px;
}



.footer-col h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}



.footer-row{
    padding: 10px 0px;
    font-size: 1rem;
}

.svg-logo svg{
    max-width: 13%;
    margin:2% 2% 2% 0%;
}
.you svg{
    max-width: 16%;
}


 

 @media only screen and (max-width:822px) and (min-width:510px){
    .res-block{
        display: block;
     }
    
     .left-flex{
        display: none;
     }


     .right-flex{
        display: grid;
        grid-template-columns:  auto auto auto;
        grid-gap: 15px;   
        margin-top: 2rem;
     }

     .box-pro{
        min-width: 29vw;
     }

     

     .none{
        display: none;
     }

     .pro{
        display: none;
     }
     
     

     .footer{
        flex-wrap: wrap;
        align-items: center;
     }
} 

@media screen and (max-width:510px) {
    
    .res-block{
        display: block;
     }
    
     .left-flex{
        display: none;
     }


     .right-flex{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 15px;   
        margin-top: 2rem;
     }

     .box-pro{
        min-width: 46vw;
     }

     

     .none{
        display: none;
     }

     .pro{
        display: none;
     }
     

     .footer{
        flex-wrap: wrap;
        align-items: center;
     }

     .footer-col div{
        max-width: 95vw;
        /* min-width: 95vw; */
     }
} 



