*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.product-body{
    margin: auto;
    display: flex;
    width: 80vw;
}

.product-sample-image input[type="radio"]{
    width: 80px;
    height: 80px;
    border: 2px solid rgb(102, 100, 100);
    outline: none;
    appearance: none;
    cursor: pointer;
    margin: 5px 5px;
}

.product-sample-image input[type="radio"]:hover{
    transform: scale(1.1);
}

#img-1{
    background-image: url(/product-1.1.jpg);
    background-size: cover;
}

#img-2{
    background-image: url(/product-1.2.jpg);
    background-size: cover;
}

#img-3{
    background-image: url(/product-1.3.jpg);
    background-size: cover;
}


.product-sample-image{
    margin: 10px 5px;
}


.product-image{
    min-width: 35vw;
    height: 60vh;
    border: 1px solid rgb(214, 208, 208);
    border-radius: 5px;
    box-shadow: 1px 1px rgb(214, 208, 208);
    margin: 15px 5px;
}

#img-1:checked ~ .product-image{
    background-image: url(/product-1.1.jpg);
    background-size: cover;
}

#img-2:checked ~ .product-image{
    background-image: url(/product-1.2.jpg);
    background-size: cover;
}

#img-3:checked ~ .product-image{
    background-image: url(/product-1.3.jpg);
    background-size: cover;
}


#addToCart-btn{
    width: 200px;
    font-size: 25px;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 20px;
}

#buyNow-btn{
    width: 200px;
    font-size: 25px;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: rgba(244,51,151,255);
    color: white;
    font-weight: bolder;
    border: none;
    margin-left: 25px;
    margin-top: 20px;
}

.product-detail{
    min-width: 35vw;
    min-height: 25vh;
    border: 1px solid rgb(214, 208, 208);
    border-radius: 5px;
    box-shadow: 1px 1px rgb(214, 208, 208);
    margin: 15px;
    padding: 20px;
    line-height: 30px;
    
}


.product-detail :nth-child(1) {
    font-size: 23px;
    color: rgb(172, 172, 172);
    margin-bottom: 10px;
    font-family:"Mier demi";
}

.product-detail :nth-child(2){
    font-size: 35px;
    font-weight: bold;
}

.product-detail div :nth-child(2){
    display: inline-block;
    font-size: 18px;
    color: rgb(172, 172, 172);
    margin-left: 10px;
    word-spacing: 3px;
}

#rating-btn{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px 25px;
    border-radius: 40px;
    border: none;
    background-color: #23bb75;
    margin-top: 15px;
}

#freeDelivery-btn{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    margin-top: 5px;
}

.select-size{
    min-width: 35vw;
    min-height: 15vh;
    border: 1px solid rgb(214, 208, 208);
    border-radius: 5px;
    box-shadow: 1px 1px rgb(214, 208, 208);
    margin: 15px;
    padding: 20px;
    line-height: 50px;
}

.select-size p{
    font-size: 28px;
    font-weight: 500;
}

/* .select-size div{
    margin: 20px 0px;
    height: 2vh;
} */

/* .select-size button{
    min-width: 50px;
    font-size: 20px;
    background-color: white;
    padding: 5px 15px;
    margin: 20px 10px;
    border-radius: 20px;
} */

.size-radio-btn{
    min-width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    /* background-color: white; */
    padding: 5px 15px;
    margin: 20px 10px;
    border-radius: 20px;
    border: 2px solid black;
}

.product-info{
    min-width: 35vw;
    min-height: 45vh;
    border: 1px solid rgb(214, 208, 208);
    border-radius: 5px;
    box-shadow: 1px 1px rgb(214, 208, 208);
    margin: 15px;
    padding: 20px;

}

.product-info :nth-child(1){
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.product-info-child{
    font-size: 20px;
    line-height: 30px;
    color: rgb(100, 100, 100);
}

/* ------------TAB VIEW OF WEBPAGE--------------- */

@media only screen and (max-width: 1200px){
    .product-body{
        flex-wrap: wrap;
    }
}

/* -----------MOBILE VIEW OF WEBPAGE------------- */

@media only screen and (max-width: 400px){
    .product-body{
        flex-wrap: wrap;
    }

    #buyNow-btn{
        margin-left: 40px;
    }
}